{% extends 'base.html' %}
{% load static %}
{% block body %}



<div class="container">
    <h1>Profile</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Bio</h5>
            <p class="card-text">{{ bio }}</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Name</h5>
            <p class="card-text">{{user_profile}}</p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Profile Picture</h5>
            <img src="{{ profile_picture.url }}" alt="Profile Picture" class="img-fluid">
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Address</h5>
            <p class="card-text">{{ address }}</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Code</h5>
            <p class="card-text">{{ code }}</p>
        </div>
    </div>
    <!-- Add other profile fields you want to display -->
</div>


{% endblock body %}