{% extends 'base.html' %}
{% block body %}
  <!-- product section -->


  <section class="product_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Products
        </h2>
      </div>
      <div class="row" id="content">
        {% for product in  posts %}
          <div class="single_content col-sm-6 col-lg-4">
              <div class="box">
                <div class="img-box">
                  <img src="{{product.image.url}}" alt="">
                  <a href="" class="add_cart_btn">
                    <span>
                      Add To Cart
                    </span>
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    {{product.name}}
                  </h5>
                  <div class="product_info">
                    <h5>
                      <span>$</span> {{product.price}}
                    </h5>
                    <div class="star_container">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
              </div>
          </div>

        {% endfor %}

      </div>
      <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="load-more__btn mt-3" id="btn">
        <button type="button" class="btn btn-success">Load More Post</button>
    </div>
    <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert'>
        No more post to load!!
    </div>
    </div>
    {{total_obj|json_script:"json-total"}}
    <script>
      // var _current_item = $('.single_content').length
      // console.log(_current_item);
      const loadBtn = document.getElementById('btn');
      const spinner = document.getElementById('spinner');
      const total = JSON.parse(document.getElementById('json-total').textContent);
      const alert = document.getElementById('alert');

      function loadmorePost() {
          var _current_item = $('.single_content').length
          const content_container = document.getElementById("content");
          $.ajax({
              url: '{% url "load" %}',
              type: 'GET',
              data: {
                  'offset': _current_item
              },
              beforeSend: function () {
                  loadBtn.classList.add('not-visible');
                  spinner.classList.remove('not-visible');
              },
              success: function (response) {
                  const data = response.posts
                  spinner.classList.add('not-visible')
                  data.map(product => {
                      console.log(product.name);
                      content_container.innerHTML += `<div class="single_content col-sm-6 col-lg-4">
                        <div class="box">
                          <div class="img-box">
                            <img src="{{product.image.url}}" alt="">
                            <a href="" class="add_cart_btn">
                              <span>
                                Add To Cart
                              </span>
                            </a>
                          </div>
                          <div class="detail-box">
                            <h5>
                              ${product.name}
                            </h5>
                            <div class="product_info">
                              <h5>
                                <span>$</span> ${product.price}
                              </h5>
                              <div class="star_container">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        </div>`
                  })
                  if (_current_item == total) {
                      alert.classList.remove('not-visible');
                  } else {
                      loadBtn.classList.remove('not-visible');
                  }
              },
              error: function (err) {
                  console.log(err);
              },
          });
      }
      loadBtn.addEventListener('click', () => {
          loadmorePost()
      });
  </script>
  </section>

  <!-- end product section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              <a href="" class="navbar-brand">
                <span>
                  Minics
                </span>
              </a>
            </h5>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Address
            </p>
            <p>
              <i class="fa fa-phone" aria-hidden="true"></i>
              +01 1234567890
            </p>
            <p>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              demo@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              Eligendi sunt, provident, debitis nemo, facilis cupiditate velit libero dolorum aperiam enim nulla iste maxime corrupti ad illo libero minus.
            </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_links">
            <h5>
              Useful Link
            </h5>
            <ul>
              <li>
                <a href="index.html">
                  Home
                </a>
              </li>
              <li>
                <a href="about.html">
                  About
                </a>
              </li>
              <li>
                <a href="product.html">
                  Products
                </a>
              </li>
              <li>
                <a href="why.html">
                  Why Us
                </a>
              </li>
              <li>
                <a href="testimonial.html">
                  Testimonial
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-youtube" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  {% endblock body %}